body {
  padding: 50px;
}

.fs-0 {
  font-size: 3.5rem!important;
  color:white!important;
  border: 4px rgb(8, 8, 8)!important;
}

body {
  z-index: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #e493d0;
  background-image: 
    radial-gradient(closest-side, rgba(235, 105, 78, 1),
    rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(243, 11, 164, 1),
   rgba(243, 11, 164,  0)),
    radial-gradient(closest-side, rgb(195, 131, 254),
  rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgb(142, 152, 245),
  rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgba(248, 192, 147, 1),
  rgba(248, 192, 147, 0));
  background-size: 
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position: 
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(5);
}


span {
  position: relative;
  z-index: 10;
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: transparent;
  text-shadow: 
    0px 0px 1px rgba(255, 255, 255, 0.6),
    0px 4px 4px rgba(0, 0, 0, .05);
   letter-spacing: .2rem;
  
}

@keyframes movement {
  0%, 100% {
    background-size: 
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position: 
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  }
  
  25% {
    background-size: 
    100vmax 100vmax,
    90vmax 90vmax,
    100vmax 100vmax,
    90vmax 90vmax,
    60vmax 60vmax;
  background-position: 
    -60vmax -90vmax,
    50vmax -40vmax,
    0vmax -20vmax,
    -40vmax -20vmax,
    40vmax 60vmax;
  }
  
  50% {
    background-size: 
    80vmax 80vmax,
    90vmax 90vmax,
    100vmax 100vmax,
    90vmax 90vmax,
    60vmax 60vmax;
  background-position: 
    -50vmax -70vmax,
    40vmax -30vmax,
    10vmax 0vmax,
    20vmax 10vmax,
    30vmax 70vmax;
  }
  
  75% {
    background-size: 
    90vmax 90vmax,
    90vmax 90vmax,
    100vmax 100vmax,
    90vmax 90vmax,
    70vmax 70vmax;
  background-position: 
    -50vmax -40vmax,
    50vmax -30vmax,
    20vmax 0vmax,
    -10vmax 10vmax,
    40vmax 60vmax;
  }
}
.card {
  height: 500px!important;
  width: 30%;
  z-index: 1;
  box-sizing: border-box;
  background: transparent!important;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 30px!important;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.75);
}
.center{
  display: flex;
  place-items: center;
  justify-content: center;
}
.blogin{
  background-color: transparent!important;
  border-color:  rgb(195, 131, 254)!important;
  color: black!important;
}
.labelc{
  font-family: margin-mvb,sans-serif;
  font-weight: 500!important;
  font-style: normal;
}
.pdt{
  margin-top: 1.0rem;
}
.w8{
  width: 80%;
}